In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
messages = ['call you tonight', 'Call me a cab', 'please call me.. please']

In [3]:
# instantiate CountVectorizer (vectorizer)
vect = CountVectorizer()
vect.fit(messages)
vect.get_feature_names()

['cab', 'call', 'me', 'please', 'tonight', 'you']

<h3>Transform message </h3>

In [5]:
messages_transformed = vect.transform(messages)
print(messages)
print(vect.get_feature_names())
messages_transformed.toarray()

['call you tonight', 'Call me a cab', 'please call me.. please']
['cab', 'call', 'me', 'please', 'tonight', 'you']

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]])

In [6]:
data = pd.DataFrame(messages_transformed.toarray())
data.columns = vect.get_feature_names()
data.head()

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [11]:
data['outcome'] = "request"
data.loc[1,'outcome'] ='order'
data.loc[0,'outcome'] ='info'

In [12]:
data.head()

   cab  call  me  please  tonight  you  outcome
0    0     1   0       0        1    1     info
1    1     1   1       0        0    0    order
2    0     1   1       2        0    0  request